
<div class="search">
    <div *ngFor="let item of filter" [style.width.%]="width">
            <input 
            nbInput 
            *ngIf="item.type == 'input-text' "
            placeholder="{{item.name | translate}}"
            [(ngModel)]="filterModel[item.name]"
            (input)="onInputChanged()"
            fullWidth
            >
            <input 
            nbInput 
            *ngIf="item.type == 'input-number' "
            type="number"
            placeholder="{{item.name | translate}}"
            [(ngModel)]="filterModel[item.name]"
            (input)="onInputChanged()"
            fullWidth
            >
    </div>
</div>





