<nb-layout windowMode>
  <nb-layout-header fixed>
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>

    <nb-select 
    [(selected)]="selected"
    placeholder="Language"
    (selectedChange)='onOptionsSelected($event)'
    >
    >
    <nb-option value="1">
      {{ "sr" | translate}}
    </nb-option>
    <nb-option value="2">
      {{ "en" | translate}}
     </nb-option>      

    </nb-select>
  </nb-layout-header>



  <nb-sidebar
  responsive
  autoCollapse="true"
  class="menu-sidebar"
  tag="menu-sidebar"
  >
  <ng-content select="items"></ng-content>
  <nb-menu [items]="items"></nb-menu>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

 <!--
<nb-layout-column>
    Page Content 
    <button nbButton>Hello World</button>
    <app-table>
      
    </app-table>
  </nb-layout-column>
 --> 
</nb-layout>
