<nb-card class="card">
    <nb-card-header>Add new</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="row" *ngFor="let item of config">
                <label  *ngIf="!item.disabled"> {{ item.name }}  </label>
                <input 
                *ngIf="item.type == 'input-text'" 
                type="text" 
                nbInput 
                fullWidth 
                placeholder="{{ item.name }}" 
                formControlName="{{ item.name }}" 
                type="text"
                [status]="checkStatus(item) ? 'success' : 'danger'"
                >
                <input 
                *ngIf="item.type == 'input-number'" 
                type="text" 
                nbInput 
                fullWidth 
                placeholder="{{ item.name }}" 
                formControlName="{{ item.name }}" 
                type="number"
                [status]="checkStatus(item) ? 'success' : 'danger'"
                >

                <nb-select 
                *ngIf="item.type == 'input-select'" 
                fullWidth 
                formControlName="{{ item.name }}"
                 [(selected)]="item.select"
                 [status]="checkStatus(item) ? 'success' : 'danger'"
                 >
                    <nb-option *ngFor="let option of item.data" value="{{ option.id }}">
                    {{ option.name }}
                    </nb-option>

                </nb-select>

                <nb-select 
                *ngIf="item.type == 'input-multipleselect'" 
                fullWidth 
                formControlName="{{ item.name }}" 
                multiple 
                [(selected)]="item.selectArary"
                [status]="checkStatus(item) ? 'success' : 'danger'"
                >
                    <nb-option *ngFor="let option of item.data" value="{{ option.id }}">
                    {{ option.name }}
                    </nb-option>

                </nb-select>

                <div *ngIf="item.type == 'input-datatimepicker'" style="width: 100%;">
                    <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" fullWidth formControlName="{{ item.name }}" [status]="checkStatus(item) ? 'success' : 'danger'">
                    <nb-datepicker #dateTimePicker fullWidth></nb-datepicker>
                </div>


                <div *ngIf="item.type == 'input-password' && !isEdit">
                    <app-password
                    (pushData)="addPassword($event)"
                    (validationEmitter)="externalValidation($event)"
                    >
                  
                    </app-password>
                </div>
            </div>
        </form>


    </nb-card-body>
    <nb-card-footer>
        <div class="buttonRow">
            <button nbButton status="success" (click)="addUser()" [disabled]="!form.valid || isDisableButton"> Add </button>
            <button nbButton status="danger" (click)="closeDialog()"> Close </button>
        </div>

    </nb-card-footer>
</nb-card>