

<div>
        <button nbButton (click)="addForm()"> 
            <nb-icon icon="plus-outline"></nb-icon>{{'addNew' | translate}}
        </button>

  
    <div class="search">
        <app-filter-table
        [filter]="settings"
        [custmWidth]="custmWidth"
        (filterData)="filter($event)"
        >
        
        </app-filter-table>
    </div>

    <div class="card">
        <table style="width: 100%;">
            <th *ngFor="let col of cols" [ngStyle]="{ 'width': col.width}" style="background-color: white; padding: 0px 0px 0px 20px;">
                {{ col.header | translate}}
            </th>
            <th style="background-color: white;">
                {{ 'delete' | translate}}
            </th>
            <th style="background-color: white;">
                {{ 'edit' | translate}}
            </th>
            <ng-container *ngFor="let item of data">
                <tr style="font-size: small;">
                    <td *ngFor="let col of cols" style="padding: 20px 0px 0px 20px;">
                        <div *ngIf="col.type == 'input-select'" >
                            {{ item[col.field]?.name }}
              
                        </div>
                        <div *ngIf="col.type == 'input-text' && col.tooltip" style="overflow: hidden; height: 40px;"  nbTooltip="{{ item[col.field] }}">
                            {{ item[col.field] }}
                        </div>
                        <div *ngIf="col.type == 'input-text' && !col.tooltip" style="overflow: hidden; height: 40px;" >
                            {{ item[col.field] }}
                        </div>
                        <div *ngIf="col.type == 'input-date'">
                            {{ item[col.field] | date: 'dd/MM/yyyy hh:mm a'}}
                        </div>
                    </td>
                    <td >
                        <button nbButton (click)="delete(item)"> <nb-icon icon="trash-outline"></nb-icon></button>
                      
                    </td>
                    <td>
                        <button nbButton (click)="editItem(item)"> <nb-icon icon="edit-outline"></nb-icon></button>
                    </td>
                </tr>
            </ng-container>

        </table>

        <nav aria-label="page navigation example" class="pagination-nav">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': activePage === 1}" (click)="changePage(1)"> <a class="page-link" >«</a></li>
                <li class="page-item" [ngClass]="{'disabled': activePage === 1}" (click)="changePage(1)"> <a class="page-link"> < </a></li>
                <li class="page-item page-item-number" [ngClass]="{'active': activePage === item}" *ngFor="let item of displayPages" (click)="changePage(item)">
                    <a class="page-link page-number" >{{item}}</a>
                  </li>
                <li class="page-item" *ngIf="activePage != numberOfPages && hideLast == false"><a class="page-link page-number">···</a></li>
                <li class="page-item" *ngIf="activePage != numberOfPages && hideLast == false" (click)="changePage(numberOfPages)"><a class="page-link page-number"
                   >{{numberOfPages}}</a></li>
                <li class="page-item" [ngClass]="{'disabled': activePage === numberOfPages}" (click)="changePage(numberOfPages)"><a class="page-link" > > </a></li>
                <li class="page-item" [ngClass]="{'disabled': activePage === numberOfPages}" (click)="changePage(numberOfPages)"><a class="page-link">»</a></li>    
            </ul>
        </nav>
    </div>
</div>


